body{
	background-color: #2a3132;
}

#header{
	position: relative;
	top: 10px;
	left: 10px;
}

#heading{
	color: #763626;
	font-size: 40px;
	padding: 10px;
}

#login{
	text-decoration: none;
}

#signup{
	text-decoration: none;
}

#forgot{
	margin-left: 600px;
	margin-top: 50px;
	font-size: 20px;
	color: #90afc5;
}

input{
	font-size: 15px;
	background-color: #2a3132;
	color: #cccccc;
	border-bottom: 1px solid white;
	border-right: 0px black;
	border-top: 0px black;
	border-left: 0px black;
}

input:focus{
	outline: none;
	border-bottom: 2px solid #763626;
}

#submit{
	color: #90afc5;
	background-color: #192021;
	border-color: transparent;
	border-radius: 4px;
	width: 245px;
	padding: 5px;
}

#submit:hover{
	background-color: #3b4243;
	color: #003b46;
	box-shadow: 1px 1px 0.5px #003b46; 
}